* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(56, 56, 212);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;

}

form input {
    margin-bottom: 5px;
    margin-top: 5px;
    height: 50px;
    width: 250px;
    text-align: center;
    border: 2px solid #ccc;
    background-color: rgb(241, 241, 241);
    border-radius: 40px;
    color: rgb(56, 56, 212);
    box-shadow: none;

}

form button {
    margin-top: 15px;
    height: 50px;
    width: 150px;
    background-color: rgb(56, 56, 212);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: none;
}

form input:focus {
    outline-color: rgb(56, 56, 212);
}

form button:hover {
    background-color: rgb(150, 150, 228);
}

.cubo {
    width: 400px;
    height: 500px;
    background-color: white;
    text-align: center;
    align-items: center;
    border-radius: 30px;
}

form {
    margin-top: 80px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(4, 4, 109)
}

.mensagem-errada {
    display: none;
    font-size: 15px;
    margin-bottom: 1px;
    color: red;
}

.mensagem-certa {
    color: #27ae60;
    display: none;
    font-size: 15px;
    height: 0px;
    margin-bottom: 10px;
}

::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

img {
    width: 150px;
    padding-bottom: 50px;
}
